.welcome {
	max-width: 742px;
	margin: -190px auto 110px;


	&__paragraph {
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #253757;
	}
}

@media screen and (max-width: 999px) {
	.welcome {

    margin: 25px 23px 40px;
		padding: 1vw;
	}
}
